---
import Layout from '../layouts/Layout.astro'
import { posts } from '@/content/gallery'
import GalleryGrid from '../components/GalleryGrid'
// import GalleryGridFlat from '../components/GallerGridFlat'

// const flatPosts = posts.flatMap(post => post.images)
---

<Layout title="Mahadi Ahmed - Gallery">
  <main class="max-w-9xl mx-auto px-6 py-12">

    <GalleryGrid client:load posts={posts} />
    <!-- <GalleryGridFlat client:load posts={flatPosts} /> -->
  </main>
</Layout>
