---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Mahadi Ahmed">
  <main class="max-w-3xl mx-auto px-6 py-12">
    <div class="space-y-8">
      <h1 class="font-outfit text-5xl font-bold tracking-tight">Hello.</h1>

      <h2 class="text-2xl font-outfit font-medium tracking-wide">
        My name is Mahadi Ahmed.
      </h2>

      <div class="space-y-6 text-lg leading-relaxed">
        <p>
          I am a software engineer based in Stockholm, passionate about creating
          impactful digital solutions. As a full-stack developer I enjoy working
          across the entire technology stack. From crafting frontend experiences
          with Vue and React, to building scalable backend services with Node.js
          and serverless technologies. I particularly enjoy working with AWS CDK
          to create infrastructure as code, ensuring our cloud architectures are
          both robust and maintainable.
        </p>

        <p>
          When I'm not writing code at work, you'll find me tinkering with my pi
          homelab, playing around with Golang or fine-tuning my Neovim setup.
          Beyond the world of technology, I'm passionate about photography –
          both digital and analog. Feel free to check out some of my shots in
          the <a href="/gallery"><span class="font-outfit">gallery</span></a> section!
          When not behind the camera or keyboard, I unwind with fantasy books and
          anime.
        </p>
      </div>
    </div>
  </main>
</Layout>
