---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
---

<Layout title="Mahadi Ahmed">
  <main>
    <div>
      <h1>Hello.</h1>
      <p style="font-weight: 500; font-size: 2.2em;">
        My name is Mahadi Ahmed.
      </p>
      <p>
        I am a software engineer currently based in Stockholm, Sweden. I work at
        PostNord Digital, focusing on fullstack development with Vue3, React and Node.js, cloud
        technologies in AWS. My work involves building and maintaining public
        tracking solutions used by millions of users across the Nordic
        countries.
      </p>
      <p>
        I enjoy understanding and solving challenging problems & contribute to
        creating useful and sustainable solutions.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
