---
import { Github, Mail } from "lucide-astro";
---

<header>
  <nav class="nav-container">
    <div class="nav-items">
      <a href="/" class="logo-link">
        <img src="/ma-logo.svg" alt="MA Logo" class="logo" />
      </a>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
      </div>
      <div class="icon-group">
        <a href="mailto:mahadia.dev@gmail.com" target="_blank">
          <Mail />
        </a>
        <a href="https://github.com/Mahadi-Ahmed" target="_blank">
          <Github />
        </a>
      </div>
    </div>
  </nav>
</header>

<style>
  .nav-container {
    display: flex;
    color: white;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 1rem;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  .nav-links {
    display: flex;
    gap: 0.5rem;
  }

  .logo-link {
    display: flex;
    align-items: center;
  }

  .icon-group {
    display: flex;
    gap: 1em;
  }

  a {
    color: white;
  }
</style>
