---
import '@/styles/globals.css'
import Header from '../components/Header.astro'

interface Props {
  title: string;
  lcpImageUrl?: string
}

const { title, lcpImageUrl } = Astro.props
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mahadi Ahmed's homepage" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://photos.mahadia.dev" crossorigin />

    <link rel="preload" href="/fonts/Outfit-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/SpaceGrotesk-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin />
    {lcpImageUrl && (
      <link rel="preload" href={lcpImageUrl} as="image" fetchpriority="high" />
    )}

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
